.simple_validatecode .b1,
.simple_validatecode .b2 {
  float: left;
}

.simple_validatecode .b2 {
  margin-left: 8px;
  line-height: 2.0;
}

.simple_validatecode .b2 a {
  display: block;
}

.simple_validatecode .b1 input {
  margin-top: 2px;
  height: 20px;
  width: 50px;
  border: 1px solid #bbb;
}

.simple_validatecode .b1 input:focus {
  border-color: #999; 
}

.simple_validatecode .photo_icon {
  width: 90px;
  height: 38px;
}
