.Autocomplete {
  overflow: auto;
  border: 1px solid #aaa;
  background-color: #fff;
  position: absolute;
  z-index: 10000;
}

.Autocomplete ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Autocomplete ul li {
  line-height: 24px;
  padding: 3px 6px;
}

.Autocomplete ul .selected,
.Autocomplete ul li:hover {
  background-color: #eee;
}