/************************imageslide***************************/
.imageslide {
	background: url(images/imageslide/loading.gif) no-repeat center center;
	position: relative;
	width: 100%;
	height: 100%;
}

.imageslide .s_bar,
.imageslide .s_title,
.imageslide .s_nav {
	position: absolute;
	z-index: 1;
}

.imageslide .s_bar {
	bottom: 0px;
	width: 100%;
	background-color: #000;
}

.imageslide .s_title {
	bottom: 10px;
	left: 10px;
	font-size: 12.5pt;
	font-weight: bold;
	width: 80%;
	overflow: hidden;
}

.imageslide .s_title a {
	color: #fff;
}

.imageslide .s_title a:hover {
	color: #aaa;
	text-decoration: none;
}

.imageslide .s_nav {
	color: #fff;
	bottom: 3px;
	right: 6px;
	width: auto;
}

.imageslide .s_nav a {
	border: #ccc 1px solid;
	margin-right: -1px;
	padding: 1px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.imageslide .s_nav .action {
	color: #fff;
	min-width: 9px;
	width: 9px;
	background: #333;
}

.imageslide .s_nav .number {
	color: #fff;
	min-width: 16px;
	_width: 16px; /* ie6 */
	background: #333;
}

.imageslide .s_nav .number:hover {
	background: #666;
	border: #ddd 1px solid;
}

.imageslide .s_nav .number.active {
	background: #E02A12;
}

.imageslide .s_item,
.imageslide .s_item img {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0
}

/************************listbox***************************/
.listbox {
	overflow-y: auto;
	position: relative;
}

.listbox .item {
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	padding: 5px 8px;
}

.listbox .item:hover {
	background: #DFEEF3;
}

.listbox .odd {
	background: #fefefe;
}

.listbox .even {
	background: #f9f9f9;
}

.listbox .checked {
	background: #FFF8C2;
}

.listbox .select {
	background: #DFEEF3;
}

.listbox .item .uncheck {
	width: 16px;
	height: 16px;
	padding: 0px;
	margin: 0px;
	background: transparent url(images/listbox/check1.gif) no-repeat;
}

.listbox .item .uncheck:hover {
	background: transparent url(images/listbox/check_over1.gif) no-repeat;
}

.listbox .item .check {
	width: 16px;
	height: 16px;
	padding: 0px;
	margin: 0px;
	background: transparent url(images/listbox/check2.gif) no-repeat;
}

.listbox .item .check:hover {
	background: transparent url(images/listbox/check_over2.gif) no-repeat;
}

/************************formeditor***************************/
.formeditor {
  table-layout: fixed;
  border: 1px solid #ddd;
}

.formeditor .validation_insertAfter {
  margin: 0 0 2px 2px;
}

.formeditor_title {
  background: #eee url(images/formeditor/dot.png) no-repeat 4px 50%;
  position: relative;
  margin-bottom: 1px;
  border: 1px solid #aaa;
  height: 19px;
  line-height: 19px;
  padding: 2px 6px 2px 18px;
}

.formeditor_title .fe_expand {
  position: absolute;
  top: 2px;
  right: 4px;
}

.formeditor input,
.formeditor textarea {
  margin-left: 2px;
}

.formeditor .fe_row {
  border-top: 3px double #e9e9e9;
}

.formeditor .fe_firstrow {
  border-top: 0px !important;
  -moz-border-radius-topleft: 5px;
  -webkit-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}

.formeditor .fe_lastrow {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}

.formeditor .fe_label {
  border-right: 1px solid #ddd;
  text-align: right;
  color: #BE5106;
  padding: 6px;
  background-color: #f9f9f9;
  letter-spacing: 1px;
}

.formeditor .fe_value {
  padding: 2px;
  background-color: #fff;
}

.formeditor .fe_value div {
  color: #666;
}

.formeditor .text_comp {
  border: 0px;
  background-color: transparent;
  background-image: none;
}

.formeditor input.text_comp {
  width: 98%;
}

.formeditor textarea.text_comp {
  width: 96%;
}

.formeditor .text_comp input {
  background-image: none;
  background-color: transparent;
}

.formeditor .text_button.text_comp .d1 {
  margin-right: -21px;
}

/************************progressbar***************************/
.progressbar {
	padding: 0;
	margin: 0;
	position: relative;
	background-color: #5be; 
	width: 100%;
	height: 100%;
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
	/*
	-webkit-box-shadow: 2px 2px 4px #A8C7D4;
	-moz-box-shadow: 2px 2px 4px #A8C7D4;
	box-shadow: 2px 2px 4px #A8C7D4;
	*/
}

.progressbar .bg {
	height: 100%;
	top: 0px;
	position: absolute;
	background-color: #fcfcfc;
}

.progressbar .pb_text {
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	color: #555;
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.progressbar .btn {
	background: url(images/progress/progress_bg.png);
	width: 10px;
	height: 100%;
	right: 0px;
	position: absolute;
	border-left: 1px solid #b0b0b0;
	cursor: pointer;
}

.progressbar .btn:hover {
	background: url(images/progress/progress_bg_focus.png);
}

.progressbar_detail {
	border-left: 1px solid #b0b0b0;
	border-right: 1px solid #b0b0b0;
	border-bottom: 1px solid #b0b0b0;
	background-color: #f9f9f9;
	position: relative; 
	width: 100%;
	*overflow: auto;
}

.progressbar_detail .content {
	padding: 6px 18px 6px 32px;
	overflow: auto;
}

.progressbar_detail .menu {
	position: absolute;
	background: url(images/progress/menu.png) no-repeat;
	top: 4px;
	left: 8px;
	height: 16px;
	width: 16px;
	cursor: pointer;
	z-index: 200;
}

.progressbar_detail .msg {
	border-bottom: 1px dashed #bbb;
	padding: 12px 4px 4px 26px;
}

.progressbar_detail .msg.m1 {
	background: url(images/progress/m2.png) no-repeat 4px 10px;
}

/************************dictionary***************************/
.dictionary .toptb {
  background-color: #f9f9f9;
  border-bottom: 1px solid #aaa;
  padding: 3px;
}

.dictionary .tree {
  overflow: auto;
  position: relative;
  padding: 4px;
}

.dictionary .okcancel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #aaa;
  background: #f4f4f4;
  padding: 8px;
}

div.color_block {
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  width: 16px;
  height: 16px;
  padding: 1px;
  border: 1px dashed #ddd;
}

.dictionary_smiley {
  text-align: center;
  padding-top: 5px;
}

.dictionary_smiley img {
  cursor: pointer;
  border: 1px solid #aaa;
  margin: 0 1px;
}

.dictionary_smiley img:hover {
  border-color: #444;
  background: #f1f1f1;
}

.dictionary_font {
  margin-bottom: 6px;
}

.dictionary_font .formeditor {
  border: 0;
}

.dictionary_font .okcancel {
  border-top: 1px solid #bbb;
  padding: 20px 6px 0;
}

/************************Autocomplete***************************/
.Autocomplete {
  overflow: auto;
  border: 1px solid #aaa;
  background-color: #fff;
  position: absolute;
  z-index: 10000;
}

.Autocomplete ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Autocomplete ul li {
  line-height: 24px;
  padding: 3px 6px;
}

.Autocomplete ul .selected {
  background-color: #eee;
}

.Autocomplete ul li .match {
  color: #a00;
  font-weight: bold;
}

.Autocomplete ul li .txt2 {
  color: #888;
  font-size: 10px;
  line-height: 1.5;
  margin: 0;
  text-align: right;
}

/************************validatecode***************************/
.simple_validatecode .b1,
.simple_validatecode .b2 {
  float: left;
}

.simple_validatecode .b2 {
  margin-left: 8px;
  line-height: 2.0;
}

.simple_validatecode .b2 a {
  display: block;
}

.simple_validatecode .b1 input {
  margin-top: 2px;
  height: 20px;
  width: 50px;
  border: 1px solid #bbb;
}

.simple_validatecode .b1 input:focus {
  border-color: #999; 
}

.simple_validatecode .photo_icon {
  width: 90px;
  height: 38px;
}

/************************tabs***************************/
:root 
.ui-window .tabs .simple_tabs_content {
	margin-top: 0\0; /* ie9 */
}

.ui-window .content .simple_tabs_content {
  -moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border-left: 0;
	border-right: 0; 
}

.ui-window .content ul.simple_tabs {
  margin-top: 3px;
  margin-left: 6px;
}

/************************swfupload***************************/
.swfupload .swf_btns {
	line-height: 1;
  margin: 6px;
}

.swfupload .message {
	color: #8D3212;
}

.swfupload .queue {
  border-top: 1px solid #ccc;
}

.swfupload .queue .message {
  margin-top: 2px;
}

.swfupload input[type=button] {
	vertical-align: text-bottom;
}

.swfupload .item {
	border-top: 1px solid #ccc;
	padding: 6px 0;
	margin-top: -1px;
}

.swfupload .item:hover {
	background: #f2f9f2;
}

.swfupload .fs {
	padding-left: 8px;
	color: #999;
}

.swfupload .bar {
	height: 17px;
	margin: 4px 0px;
}

/************************slider_bar***************************/
.slider_bar {
	position: relative;
}

.slider_img {
	border: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
}